<%= form_for(milestone) do |f| %>
  <% if milestone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(milestone.errors.count, "error") %> prohibited this milestone from being saved:</h2>

      <ul>
      <% milestone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pos %>
    <%= f.number_field :pos %>
  </div>

  <div class="field">
    <%= f.label :parkrunner %>
    <%= f.text_field :parkrunner %>
  </div>

  <div class="field">
    <%= f.label :time %>
    <%= f.text_field :time %>
  </div>

  <div class="field">
    <%= f.label :age_cat %>
    <%= f.text_field :age_cat %>
  </div>

  <div class="field">
    <%= f.label :age_grade %>
    <%= f.text_field :age_grade %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>

  <div class="field">
    <%= f.label :gender_pos %>
    <%= f.text_field :gender_pos %>
  </div>

  <div class="field">
    <%= f.label :club %>
    <%= f.text_field :club %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_field :note %>
  </div>

  <div class="field">
    <%= f.label :total %>
    <%= f.number_field :total %>
  </div>

  <div class="field">
    <%= f.label :run_id %>
    <%= f.number_field :run_id %>
  </div>

  <div class="field">
    <%= f.label :age_grade_position %>
    <%= f.number_field :age_grade_position %>
  </div>

  <div class="field">
    <%= f.label :age_cat_position %>
    <%= f.number_field :age_cat_position %>
  </div>

  <div class="field">
    <%= f.label :athlete_number %>
    <%= f.text_field :athlete_number %>
  </div>

  <div class="field">
    <%= f.label :integer %>
    <%= f.text_field :integer %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
