<p id="notice"><%= notice %></p>

<h1>Milestones</h1>
<button><%= link_to "Home", root_path %></button>
<p>These are potential upcoming milestones for Eastleigh club runners and attendees of Eastleigh Parkrun.</p><br>
<p>If these runners run at a location where there were no other Eastleigh RC members then their results will not be removed from this table, please use this only as a referece for potential milestones.</p><br>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="table-header">Pos</th>
      <th class="table-header">Parkrunner</th>
      <th class="table-header">Time</th>
      <th class="table-header">Age cat</th>
      <th class="table-header">Age grade</th>
      <th class="table-header">Gender</th>
      <th class="table-header">Club</th>
      <th class="table-header">Note</th>
      <th class="table-header">Total</th>
      <th class="table-header">Run ID</th>
      <th class="table-header">Athlete number</th>
      <th class="table-header">Run</th>
      <th class="table-header">Athlete Parkrun Link</th>
      <th class="table-header"colspan="3">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @milestones.each do |milestone| %>
      <tr>
        <td><%= milestone.pos %></td>
        <td><%= milestone.parkrunner %></td>
        <td><%= milestone.time %></td>
        <td><%= milestone.age_cat %></td>
        <td><%= milestone.age_grade %></td>
        <td><%= milestone.gender %></td>
        <td><%= milestone.club %></td>
        <td><%= milestone.note %></td>
        <td><%= milestone.total %></td>
        <td><%= milestone.run_id %></td>
        <td><%= milestone.athlete_number %></td>
        <td><%= Run.where(id: milestone.run_id).first.run_identifier %></td>
        <td><%= link_to 'ParkRun', athlete_online_route(milestone.athlete_number), target: :_blank %></td>
        <td><%= link_to 'Destroy', milestone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


