<p id="notice"><%= notice %></p>

<p>
  <strong>Pos:</strong>
  <%= @milestone.pos %>
</p>

<p>
  <strong>Parkrunner:</strong>
  <%= @milestone.parkrunner %>
</p>

<p>
  <strong>Time:</strong>
  <%= @milestone.time %>
</p>

<p>
  <strong>Age cat:</strong>
  <%= @milestone.age_cat %>
</p>

<p>
  <strong>Age grade:</strong>
  <%= @milestone.age_grade %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @milestone.gender %>
</p>

<p>
  <strong>Gender pos:</strong>
  <%= @milestone.gender_pos %>
</p>

<p>
  <strong>Club:</strong>
  <%= @milestone.club %>
</p>

<p>
  <strong>Note:</strong>
  <%= @milestone.note %>
</p>

<p>
  <strong>Total:</strong>
  <%= @milestone.total %>
</p>

<p>
  <strong>Run:</strong>
  <%= @milestone.run_id %>
</p>

<p>
  <strong>Age grade position:</strong>
  <%= @milestone.age_grade_position %>
</p>

<p>
  <strong>Age cat position:</strong>
  <%= @milestone.age_cat_position %>
</p>

<p>
  <strong>Athlete number:</strong>
  <%= @milestone.athlete_number %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @milestone.integer %>
</p>

<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>
