<p id="notice"><%= notice %></p>

<h1>Visits</h1>

<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<p></p>

<table class="table-bordered tabled-condensed">
  <thead>
    <tr>
      <th colspan ="1" class="table-header">DateTime</th>
      <th colspan ="1" class="table-header">Ip address</th>
      <th colspan ="8" class="table-header">Browser</th>
      <!-- <th class="table-header"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td class="col-md-1"><%= visit.created_at %></td>
        <td class="col-md-1"><%= visit.ip_address %></td>
        <td class="col-md-4" ><%= visit.browser %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

