<p id="notice"><%= notice %></p>

<p>
  <strong>Ip address:</strong>
  <%= @visit.ip_address %>
</p>

<p>
  <strong>Browser:</strong>
  <%= @visit.browser %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
