<p id="notice"><%= notice %></p>

<h1>"ParkScraper on Rails" - Results</h1>
<h2>A timesaver for collecting all parkrun results.</h2>
<h3>Data collected at: <%= @runs.last.created_at %> </h3>
<button><%= link_to "Update", controller: 'scrapes', action: 'index', :class=>'btn', :title=>'foo' %></button>
<button><%= link_to "Order By Age Grade", controller: 'results', action: 'index', :class=>'btn', :title=>'foo', :order => 'age' %></button>
<button><%= link_to "Order By Age Grade - Top 12s Only", controller: 'results', action: 'index', :class=>'btn', :title=>'foo', :order => 'a12' %></button>
<button><%= link_to "Order By Position", controller: 'results', action: 'index', :class=>'btn', :title=>'foo', :order => 'pos' %></button>
<button><%= link_to "Upcoming Milestones", controller: 'milestones', action: 'index', :class=>'btn' %></button>

<h2>This week there were results from:<h2>

  <table class="table table-bordered table-hover">
    <thead>
      <th>Parkrun</th>
      <th>Count</th>
      <th>Eastleigh Runners</th>
      <th>Eastleigh Men</th>
      <th>Eastleigh Women</th>
    </thead>
    <tbody>
<% @runs.each do |run| %>
      <tr>
        <td colspan = "1" class="results"><%= run.run_identifier %></td>
        <td colspan = "1" class="results"><%= Result.where(run_id: run.id).count  %></td>
        <td colspan = "1" class="results"><%= Result.where(run_id: run.id).eastleigh.count %></td>
        <td colspan = "1" class="results"><%= Result.where(run_id: run.id, gender: 'M').eastleigh.count %></td>
        <td colspan = "1" class="results"><%= Result.where(run_id: run.id, gender: 'F').eastleigh.count %></td>
      </tr>
 <% end %>
      <tr>
        <td>TOTALS</td><td><%= Result.count %></td><td><%= Result.eastleigh.count %></td><td><%= Result.where(gender: 'M').eastleigh.count %></td><td><%= Result.where(gender: 'F').eastleigh.count %></td>
      </tr>
    </tbody>
  </table>

<!-- the above table seems to have made the below table go bold ? -->

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Parkrun</th>
      <th>Pos</th>
      <th>Parkrunner</th>
      <th>Time</th>
      <th>Age cat</th>
      <th>Age cat Pos</th>
      <th>Age grade</th>
      <th>AgeGradePos</th>
      <th>Gender</th>
      <th>Gender pos</th>
      <th>Club</th>
      <th>Note</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <% note_class = (result.note == 'New PB!')? 'newpb' : 'note' %>
      <% age_class  = (result.age_grade.to_f > 70)? 'fast-age' : 'not-fast-age'%>
      <% age_cat_class = (result.age_cat_position == 1)? 'first-in-age-cat' : 'normal-age-cat' %>
      <% milestone_run_class = ([50, 100, 150, 200, 250].include? result.total)? 'milestone-run' : 'not-milestone' %>
      <% gender_win_class = (result.gender_pos == '1')? 'gender-pos-win' : 'normal-gender-pos' %>

      <tr>
        <td><%= @runs.where(id: result.run_id).first.run_identifier  %></td>
        <td><%= result.pos %></td>
        <td><%= result.parkrunner %></td>
        <td><%= result.time %></td>
        <td><%= result.age_cat %></td>
        <td class="<%= age_cat_class%>"><%= result.age_cat_position %></td>        
        <td class="<%=age_class%>"><%= result.age_grade %></td>
        <td><%= result.age_grade_position %></td>       
        <td><%= result.gender %></td>
        <td class="<%= gender_win_class %>"><%= result.gender_pos %></td>
        <td><%= result.club %></td>
        <td class= "<%=note_class%>"><%= result.note %></td>
        <td class="<%= milestone_run_class%>"><%= result.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

