<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
  <h3 class='user-greeting'>Hello <%= current_user.name %></h3>
<% end %>
<h1>"ParkScraper on Rails" - Results</h1>
<h2>A timesaver for collecting all parkrun results.</h2>
<h3>Data collected at: <%= @results.last.updated_at.localtime unless @results.last.nil?  %> </h3>
<% if @results.last %>
  <% if @results.last.updated_at < Time.now - 6.days %>
    <h2 class="age-data-warning">Data is old, refresh it!</h2>
  <% end %>
<% end %>

<div class='alert alert-danger'>
  <%= flash[:message]   %>
</div>

<% if current_user && current_user.admin? %>
  <button id='update', class='btn-info' ><%= link_to "Update", controller: 'scrapes', action: 'index', class: 'btn', id: 'update-link' %></button>
<% else %>
  <button id='update-logged-out', class='btn', data-toggle="tooltip" title="Hooray!" data-placement="right" ><%= link_to "Update", class: 'btn', id: 'update-link' %></button>
<% end %>

<button><%= link_to "Order By Age Grade", controller: 'results', action: 'index', :class=>'btn', :title=>'foo', :order => 'age' %></button>
<button><%= link_to "Order By Age Grade - Top 12s Only", controller: 'results', action: 'index', :class=>'btn', :title=>'foo', :order => 'a12' %></button>
<button><%= link_to "Order By Position", controller: 'results', action: 'index', :class=>'btn', :title=>'foo', :order => 'pos' %></button>
<% if current_user && current_user.admin? %>
  <button><%= link_to "Upcoming Milestones", controller: 'milestones', action: 'index', :class=>'btn' %></button>
<% end %>
<% if user_signed_in?  %>
  <button><%= link_to "Log Out", destroy_user_session_path, method: :delete, :class=>'btn' %></button>
<% else %>
  <button><%= link_to "Log In", new_user_session_path, :class=>'btn' %></button>
  <button><%= link_to "Sign Up", controller: 'users', action: 'new', :class=>'btn' %></button>
<% end %>
<% if current_user && current_user.admin? %>
  <button><%= link_to "Stalker Feature", controller: 'stalkees', action: 'index', :class=>'btn' %></button>
<% end %>

<h2>This week there were results from:<h2>
  <table class="table table-bordered table-hover">
    <thead>
      <th class="table-header">Parkrun</th>
      <th class="table-header">Total Runners for Parkrun</th>
      <th class="table-header">Total Male Runners for Parkrun</th>      
      <th class="table-header">Total Female Runners for Parkrun</th>
      <th class="table-header">Eastleigh Runners</th>
      <th class="table-header">Eastleigh Men</th>
      <th class="table-header">Eastleigh Women</th>
    </thead>
    <tbody>
<% @runs.each do |run| %>
  <% if(Result.where(run_id: run.id).eastleigh.count > 0)   %>
      <tr>
        <td colspan = "1" class="results"><%= run.run_identifier %></td>
        <td colspan = "1" class="results"><%= Result.where(run_id: run.id).count  %></td>
        <td colspan = "1" class="results"><%= Result.where(run_id: run.id, gender: 'M').count  %></td>        
        <td colspan = "1" class="results"><%= Result.where(run_id: run.id, gender: 'F').count  %></td>
        <td colspan = "1" class="results"><%= Result.where(run_id: run.id).eastleigh.count %></td>
        <td colspan = "1" class="results"><%= Result.where(run_id: run.id, gender: 'M').eastleigh.count %></td>
        <td colspan = "1" class="results"><%= Result.where(run_id: run.id, gender: 'F').eastleigh.count %></td>
      </tr>
  <% end %>
  <% if (run.metadata['comment'])%>
    <tr class='metadata-comment-missing_data'>
      <td colspan = '1'><%= run.run_identifier %></td>
      <td colspan = '5'><%= run.metadata['comment']%><td>
    </tr>
  <% end %>
<% end %>
      <tr>
        <td>TOTALS</td><td><%= Result.count %></td><td><%= Result.eastleigh.count %></td><td><%= Result.where(gender: 'M').eastleigh.count %></td><td><%= Result.where(gender: 'F').eastleigh.count %></td>
      </tr>
    </tbody>
  </table>

<!-- the above table seems to have made the below table go bold ? -->

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="table-header">Parkrun</th>
      <th class="table-header">Pos</th>
      <th class="table-header">Parkrunner</th>
      <th class="table-header">Time</th>
      <th class="table-header">Age cat</th>
      <th class="table-header">Age cat Pos</th>
      <th class="table-header">Age grade</th>
      <th class="table-header">AgeGradePos</th>
      <th class="table-header">Gender</th>
      <th class="table-header">Gender pos</th>
      <th class="table-header">Club</th>
      <th class="table-header">Note</th>
      <th class="table-header">Total</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <% if result.pos && result.age_grade_position && result.age_grade && result.age_cat_position && result.total && result.gender_pos %>
        <% high_pos_finisher = (result.pos < 2)? 'high_pos_finisher' : 'normal_pos_finisher' %>
        <% high_age_pos_finisher = (result.age_grade_position < 13)? 'high_age_pos_finisher' : 'normal_age_pos_finisher' %>
        <% note_class = (result.note == 'New PB!')? 'newpb' : 'note' %>
        <% age_class  = (result.age_grade.to_f > 70)? 'fast-age' : 'not-fast-age'%>
        <% age_cat_class = (result.age_cat_position == 1)? 'first-in-age-cat' : 'normal-age-cat' %>
        <% milestone_run_class = ([50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600].include? result.total)? 'milestone-run' : 'not-milestone' %>
        <% gender_win_class = (result.gender_pos == '1')? 'gender-pos-win' : 'normal-gender-pos' %>
        <% gender_pos_class = (result.gender_pos.to_i < 13)? 'gender-pos-high' : 'normal-gender-pos' %>

        <tr>
          <td><%= @runs.where(id: result.run_id).first.run_identifier  %></td>
          <td class="<%= high_pos_finisher %>"><%= result.pos %></td>
          <td><%= result.parkrunner %></td>
          <td><%= convert_integer_time_to_hours_mins_seconds(result.time) %></td>
          <td><%= result.age_cat %></td>
          <td class="<%= age_cat_class %>"><%= result.age_cat_position %></td>        
          <td class="<%= age_class %>"><%= result.age_grade %></td>
          <td class="<%= high_age_pos_finisher %>"><%= result.age_grade_position %></td>       
          <td><%= result.gender %></td>
          <td class="<%= gender_win_class + ' ' +  gender_pos_class %>"><%= result.gender_pos %></td>
          <td><%= result.club %></td>
          <td class= "<%= note_class %>"><%= result.note %></td>
          <td class="<%= milestone_run_class %>"><%= result.total %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>
