<%= stylesheet_link_tag "theme.blue", media: "all" %>

<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
  <h3 class='user-greeting'>Hello <%= current_user.name %></h3>
<% end %>
<h1>"ParkScraper on Rails" - Results</h1>
<h2>A timesaver for collecting all parkrun results.</h2>
<h3>Data collected at: <%= @results.last.updated_at.localtime unless @results.last.nil?  %> </h3>
<% if @results.last %>
  <% if @results.last.updated_at < Time.now - 6.days %>
    <h2 class="age-data-warning">Data is old, refresh it!</h2>
  <% end %>
<% end %>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<% if current_user && current_user.admin? %>
  <button id='update', class='btn-info' ><%= link_to "Update", controller: 'scrapes', action: 'index', class: 'btn', id: 'update-link' %></button>
<% else %>
  <button id='update-logged-out', class='btn', data-toggle="tooltip" title="Hooray!" data-placement="right" ><%= link_to "Update", class: 'btn', id: 'update-link' %></button>
<% end %>

<button><%= link_to "Order By Age Grade", controller: 'results', action: 'index', :class=>'btn', :title=>'foo', :order => 'age' %></button>
<button><%= link_to "Order By Age Grade - Top 12s Only", controller: 'results', action: 'index', :class=>'btn', :title=>'foo', :order => 'a12' %></button>
<button><%= link_to "Order By Position", controller: 'results', action: 'index', :class=>'btn', :title=>'foo', :order => 'pos' %></button>
<% if current_user && current_user.admin? %>
  <button><%= link_to "Upcoming Milestones", controller: 'milestones', action: 'index', :class=>'btn' %></button>
<% end %>
<% if user_signed_in?  %>
  <button><%= link_to "Log Out", destroy_user_session_path, method: :delete, :class=>'btn' %></button>
<% else %>
  <button><%= link_to "Log In", new_user_session_path, :class=>'btn' %></button>
  <button><%= link_to "Sign Up", controller: 'users', action: 'new', :class=>'btn' %></button>
<% end %>
<% if current_user && current_user.admin? %>
  <button><%= link_to "Stalker Feature", controller: 'stalkees', action: 'index', :class=>'btn' %></button>
<% end %>

<h2>This week's results:<h2>

<% @runs.each do |run| %>
  <table class="table table-bordered table-hover run-table">
  <tbody>
  <% if(Result.where(run_id: run.id).eastleigh.count > 0)   %>
      <%= render partial: "run_table_header" %>
      <tr>
        <td colspan = "1" class="results"><%= run.run_identifier %></td>
        <td colspan = "1" class="results"><%= Result.where(run_id: run.id).count  %></td>
        <td colspan = "1" class="results"><%= Result.where(run_id: run.id, gender: 'Male').count  %></td>        
        <td colspan = "1" class="results"><%= Result.where(run_id: run.id, gender: 'Female').count  %></td>
        <td colspan = "1" class="results"><%= Result.where(run_id: run.id).eastleigh.count %></td>
        <td colspan = "1" class="results"><%= Result.where(run_id: run.id, gender: 'Male').eastleigh.count %></td>
        <td colspan = "1" class="results"><%= Result.where(run_id: run.id, gender: 'Female').eastleigh.count %></td>
      </tr>
      <%= render partial: "individual_run_table", locals: {run_id: run.id} %>
  <% end %>
  <% if (run.metadata['comment'])%>
    <tr class='metadata-comment-missing_data'>
      <td colspan = '1'><%= run.run_identifier %></td>
      <td colspan = '5'><%= run.metadata['comment']%><td>
    </tr>
    </tbody>
  </table>
  <% end %>
<% end %>
<table class='table table-bordered'>      
  <tbody>
      <th class="table-header">TOTAL ALL RUNS ALL CLUBS</th>
      <th class="table-header">TOTAL EASTLEIGH</th>
      <th class="table-header">TOTAL EASTLEIGH MALE</th>
      <th class="table-header">TOTAL EASTLEIGH FEMALE</th>
      <tr>
        <td><%= Result.count %></td>
        <td><%= Result.eastleigh.count %></td>
        <td><%= Result.where(gender: 'M').eastleigh.count %></td>
        <td><%= Result.where(gender: 'F').eastleigh.count %></td>
      </tr>
  </tbody>
</table>


<script>
  $(function(){
    $('.results-table').each(
      function(){ $(this).tablesorter({theme: 'blue'});
       }
      )
  })
</script>
