<p id="notice"><%= notice %></p>

<p>
  <strong>Pos:</strong>
  <%= @result.pos %>
</p>

<p>
  <strong>Parkrunner:</strong>
  <%= @result.parkrunner %>
</p>

<p>
  <strong>Time:</strong>
  <%= @result.time %>
</p>

<p>
  <strong>Age cat:</strong>
  <%= @result.age_cat %>
</p>

<p>
  <strong>Age grade:</strong>
  <%= @result.age_grade %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @result.gender %>
</p>

<p>
  <strong>Gender pos:</strong>
  <%= @result.gender_pos %>
</p>

<p>
  <strong>Club:</strong>
  <%= @result.club %>
</p>

<p>
  <strong>Note:</strong>
  <%= @result.note %>
</p>

<p>
  <strong>Total:</strong>
  <%= @result.total %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
