<p id="notice"><%= notice %></p>

<h2>RunScraper on Rails: A Summary of Information for Eastleigh Running Club</h2>
<h3>A little timesaver for collating results</h3>
<h4>Age Grade Position is the position by age grade within an individual parkrun.</h4>
<table>
  <thead>
    <tr>
      <th>RunScraper on Rails - there were Eastleigh Runners at:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data.each do |run| %>
      <tr>
        <td><%= run['run_identifier'] %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th colspan="1">Position</th><th colspan="1">ParkRunner</th><th colspan="1">Time</th><th colspan="1">AgeCat</th><th colspan="1">AgeGrade</th><th colspan="1">AgeGradePosition</th><th colspan="1">Gender</th><th colspan="1">Gender Pos</th><th colspan="1">Club</th><th colspan="1">Note</th><th colspan="1">Total</th>
    </tr>
  </thead>
  <tbody>
    <% @data.each do |run| %>
      <h2><%= run['run_identifier'] %></h2>
      <% run['data'].each do |data| %>
        <tr>
          <td colspan="1"><%= data['pos'] %></td>
          <td colspan="1"><%= data['parkrunner']%></td>
          <td colspan="1"><%= data['time']%></td>
          <td colspan="1"><%= data['age_cat']%></td>
          <td colspan="1"><%= data['time']%></td>
          <td colspan="1"><%= data['age_cat']%></td>
          <td colspan="1"><%= data['age_grade']%></td>
          <td colspan="1"><%= data['age_grade_pos']%></td>
          <td colspan="1"><%= data['gender']%></td>
          <td colspan="1"><%= data['gender_pos']%></td>
          <td colspan="1"><%= data['club']%></td>
          <td colspan="1"><%= data['note']%></td>
          <td colspan="1"><%= data['total']%></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% console %>






