<%= form_for(stalkee) do |f| %>
  <% if stalkee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stalkee.errors.count, "error") %> prohibited this stalkee from being saved:</h2>

      <ul>
      <% stalkee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parkrunner %>
    <%= f.text_field :parkrunner %>
    <%= f.label :athlete_number %>
    <%= f.text_field :athlete_number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
