<p id="notice"><%= notice %></p>

<p>
  <strong>Parkrunner:</strong>
  <%= @stalkee.parkrunner %>
</p>

<p>
  <strong>Athlete Number:</strong>
  <%= @stalkee.athlete_number%>
</p>

<%= link_to 'Edit', edit_stalkee_path(@stalkee) %> |
<%= link_to 'Back', stalkees_path %>
